<link rel="stylesheet" href="/css/includes/footer.css">

<body>
  <footer class="custom-footer">
    <div class="f-info">
      <div class="f-info-socials">
        <a href="https://www.facebook.com/nikhilkamathcio/" target="_blank"><i
            class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.instagram.com/navmeshsrivastava/" target="_blank"><i
            class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.linkedin.com/in/navmesh-srivastava-99121b308" target="_blank"><i
            class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="f-info-brand">&copy; 2025 Jobkart</div>
      <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
      </div>
    </div>
  </footer>
</body>