<style>
    body {
        background-color: #0f172a;
    }
</style>

<h1 style="text-align:center; margin-top:50px; color: white;">404 - Page Not Found</h1>
<p style="text-align:center; color: white;">Sorry, the page you're looking for doesn't exist.</p>

