<link rel="stylesheet" href="/css/users/login-form.css" />

<div class="container login-wrapper">
  <div class="login-box">
    <div class="form-title">Login to Jobkart</div>
    <form action="/auth/login" method="POST" novalidate>
      <input
        type="text"
        name="username"
        class="form-control"
        placeholder="Username"
        required
      />
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Password"
        required
      />
      <button type="submit" class="btn-login">Log In</button>
    </form>

    <div class="forgot-link">
      <a href="#">Forgot Password?</a>
    </div>

    <div class="separator"></div>

    <a href="/auth/signup" class="btn-signup">Create New Account</a>
  </div>
</div>
